.about {
    @include position-top-left();
    width: 100vw;
    height: auto;
                    
    &__main {
        padding: 2.5rem .5rem 2.5rem .5rem;
        @include position-top-left();
        width: 100%;   
        
    }
}



