.about {
    background: $background-color-light;   
    width: 100vw;
    height: 100vh;
     
    &__container {
        position: relative;
        top: 50%;
        background: $white;
        border-bottom: 1px solid $section-border;
        padding: 4rem 1.5rem;
        z-index: 1;
        
        h2 {
            font-size: 9vw;
            text-align: center;
            color: $secondary-accent-color;
            margin-bottom: 4rem;
            font-weight: 400;
            letter-spacing: 2px;
        }
        
        p {
            color: $section-text; 
            margin-bottom: 4rem;
        }
        
           
        
    }
}



