.about {
    @include position-top-left();
    width: 100vw;
    flex: 1 0 auto;
                    
    &__main {
        padding: 4rem .8rem;
        @include position-top-left();
        width: 100%;   
        
    }
}



