.site-footer {
    background-color: $secondary-color;
	text-align: center;
    padding: 20px 10px 15px 10px;
    color: $white;
    flex-shrink: 0;

    section {
        padding-bottom: 20px;

        ul {
            list-style: none;
    
        }
        li a {
            font-size: 1rem;
            color: inherit;
            text-decoration: none;
        }

        li strong {
            padding-right: .3rem;
        }
    }
    section:last-child {
        border-top: 1px solid $white;
	    padding-top: 15px;
    }
    
}