.site-footer {
    background-color: #232323;
	text-align: center;
    padding: 20px 10px 15px 10px;
    color: #BD61FA;
    flex-shrink: 0;

    section {
        padding-bottom: 20px;

        ul {
            list-style: none;
    
        }
        li a {
            font-size: 1rem;
            color: inherit;
            text-decoration: none;
        }
        li i:not(.fa-envelope) {
            color: #BD61FA;
        }
        li strong {
            padding-right: .3rem;
        }
    }
    section:last-child {
        border-top: 1px solid #BD61FA;
	    padding-top: 15px;
    }
    
}