.home {
    @include flex-center(column);
    color: $white;
    height: 100%;
    align-items: center;
    text-align: center;
    background: url("../assets/hero-drawing-deepblue.png") no-repeat 12% bottom;
    background-size: cover;
           
    &__name {
        @include transform(translateX(100vw));
        @include transition(all, .5s, ease-out);
        font-size: 10vw;
        font-weight: 200;
        width: 100vw;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        border-bottom: 2px solid rgba(#FA1B63, 0.5);
        
        &--last {
            color: #FAE81B;
            font-weight: 200;
        }
        
        &.show {
            @include transform(translateX(0));
        }
    }

    &__occupation {
        @include transform(translateX(-100vw));
        @include transition(all, .5s, ease-out);
        transition-delay: .2s;
        font-size: 2rem;
        font-weight: 100;
        
        &.show {
            @include transform(translateX(0));
        }
    }
    
}
.full-height + footer {
    display: none;
}