.image-slider {
    min-width: 100%;

    &__container {
        position: relative;
        display: flex;
        overflow: hidden;
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .enter-left {
            @include transform(translateX(-50%) rotateY(-90deg));
        }

        .enter-right {
            @include transform(translateX(50%) rotateY(90deg));
        }
        
        .enter-active {
            @include transform(translateX(0) rotateY(0)); 
            @include transition(transform, .6s, ease-in-out);
            z-index: 2;
        }
        
        .leave-left {
            @include transform(translateX(-50%) rotateY(-90deg)); 
            @include transition(transform, .6s, ease-in-out);
            z-index: 1; 
        }
        
        .leave-right {
            @include transform(translateX(50%) rotateY(90deg)); 
            @include transition(transform, .6s, ease-in-out);
            z-index: 1; 
        }
       
        .active {
            z-index: 1;
        }

        button {
            position: absolute;
            bottom: 0;
            font-size: 1.5rem;
            background: rgba(0, 0, 0, 0.3);
            color: #fff;
            border: 0;
            border-radius: 0;
            padding: 1rem 1.5rem;
            outline: none;
            z-index: 2;
        }

        .btn-prev {
            left: 0;
        }

        .btn-next {
            right: 0;
        }
    }
}

@media screen and (min-width: 768px) {
    .image-slider {
        &__container {
            .btn-next:hover, .btn-prev:hover {
                cursor: pointer;
            }    
            
        }
    }    
}