.menu-btn {
    @include transition();
    position: fixed;
    bottom: 2.5rem;
    left: calc(100vw - 3.5rem - 53px);
    height: 60px;
    width: 60px;
    font-size: 60px;
    border-radius: 90%;
    background: rgba(#000, 0.7);
    cursor: pointer;

    &.open {
        gbackground: transparent;
    }

    &__burger {
        @include transition();
        @include position-top-right(absolute, calc(50% - 1px), 25%);
        width: .5em;
        height: 2px;
        background: $white;

        &::before, &::after {
            @include transition();
            content: "";
            width: 100%;
            height: 2px;
            background: $white;
        }

        &::before {
            @include position-top-left(absolute, -0.25em);
            fbackground: transparent;
        }
        
        &::after {
            @include position-top-left(absolute, 0.25em);
           
        }

        &.opening {
            background: transparent;
            
            &::before {
                @include transform(translateY(0.25em));
            }
            
            &::after {
                @include transform(translateY(-0.25em));
                
            }
        }

        &.open {
            
            
            &::before {
                @include transform(rotate(45deg) translateY(0));
                transform-origin: -0.047em 0.12em;
            }
        
            &::after {
                @include transform(rotate(-45deg) translateY(0));
                transform-origin: -0.047em -0.105em;

            }
        }
    }
}

.nav {
    @include transition();
    @include transform(translateX(-100vw));
    @include position-top-left(absolute);
    width: 100vw;
    letter-spacing: 7px;

    &.open {
        @include transform(translateX(0));
    }

    .menu-nav {
        @include flex-center(column);
        @include transition();
        @include transform(translateX(-100vw) scale(0,0));
        height: 100vh;
        goverflow: hidden;
        background: $background-color-dark;
        list-style: none;
                
        &.open {
            @include transform(translateX(0) scale(1,1));
        }

        &__item {
            @include transition();
            @include transform(skewY(30deg));
            font-size: 0vw;
            width: 100%;
            
            &.open {
                @include transform(skewY(0deg));
                font-size: 9vmin;
                text-align: center;
                
            }
        }
        &__link {
            color: $white;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            padding: 3.2rem 0;
            margin: 4vmin 0;
            padding: 3vmin 0;
            font-weight: 100;
            width: 100%;
            
            &:hover {
                color: $white;
            }

            &.active {
                color: $primary-accent-color;
                border-left: 3px solid $secondary-accent-color;
            }
        }
    }
}

@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * .15s) + .3s;
    } 
}

@media screen and (min-width: 768px) {
    .nav {
        width: 40rem;
        width: 40vmin;
        .menu-nav {
            background: $background-color-dark;        
            &__item {
                &.open {
                    font-size: 4rem;
                    font-size: 3vmin;
                }
            }
            &__link {
                padding: 1vmin 0;
                margin: 2.5vmin 0;
            }
        }
    }
  }

  .center {
    width: 2px;
    height: 2px;
    z-index: 1000;
    position: absolute; 
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    background: red;
  }