.menu-btn {
    @include transition();
    position: fixed;
    bottom: 1.9rem;
    left: calc(100vw - 1.9rem - 53px);
    height: 63px;
    width: 63px;
    border-radius: 90%;
    background: rgba(#255663, 0.9);
    cursor: pointer;

    &.open {
        background: transparent;
    }

    &__burger {
        @include transition();
        @include position-top-right(absolute, 30px, 14px);
        width: 35px;
        height: 2px;
        background: $white;

        &::before, &::after {
            @include transition();
            content: "";
            width: 35px;
            height: 2px;
            background: $white;
        }

        &::before {
            @include position-top-left(absolute, -15px);
        }
        
        &::after {
            @include position-top-left(absolute, 15px);
        }

        &.open {
            background: transparent;
            
            &::before {
                @include transform(rotate(45deg) translate(12px, 15px));
            }
        
            &::after {
                @include transform(rotate(-45deg) translate(6px, -9px));
            }
        }
    }
}

.nav {
    @include transition();
    @include transform(translateX(-100vw));
    @include position-top-left(absolute);
    width: 100vw;
    letter-spacing: 7px;

    &.open {
        @include transform(translateX(0));
    }

    .menu-nav {
        @include flex-center(column);
        @include transition();
        @include transform(translateX(-100vw) scale(0,0));
        height: 100vh;
        goverflow: hidden;
        background: #255663;
        list-style: none;
                
        &.open {
            @include transform(translateX(0) scale(1,1));
        }

        &__item {
            @include transition();
            @include transform(skewY(30deg));
            font-size: 0vw;
            width: 100%;
            
            &.open {
                @include transform(skewY(0deg));
                font-size: 9vmin;
                text-align: center;
                
            }
        }
        &__link {
            color: $white;
            text-decoration: none;
            display: inline-block;
            text-transform: uppercase;
            padding: 3.2rem 0;
            margin: 4vmin 0;
            padding: 3vmin 0;
            font-weight: 100;
            width: 100%;
            
            &:hover {
                color: $white;
            }

            &.active {
                color: #FAE81B;
                border-left: 3px solid #B03059;
            }
        }
    }
}

@for $i from 1 through 5 {
    .menu-nav__item:nth-child(#{$i}) {
        transition-delay: ($i * .15s) + .3s;
    } 
}

@media screen and (min-width: 768px) {
    .nav {
        width: 40rem;
        width: 40vmin;
        .menu-nav {
            background: #255663;        
            &__item {
                &.open {
                    font-size: 4rem;
                    font-size: 3vmin;
                }
            }
            &__link {
                padding: 3vmin 0;
            }
        }
    }
  }