
.modal {
    @include flex-center(column);
    @include position-top-left(fixed);
    transition: opacity .3s ease-in-out .3s, height .1s ease-in-out .6s;
        
        
    opacity: 0;
    z-index: 2; 
    width: 100%;
    height: 0;
    overflow: auto;
    
    &__content {
        @include transform(translateY(-100vh));
        @include transition(all, .3s);
        background-color: $white;
        width: 100%;
        height: 100%;
                                
        .header {
            display: flex;
            justify-content: flex-end;
            border-bottom: 1px solid $section-border;
            padding: .8rem;

            .close {
               border: 0;
               background: transparent; 
               color: #aaa;
               font-size: 3rem;
               height: 3rem;
               
            }

            .close:hover {
                cursor: pointer;
            }
        }
        &.open {
            @include transform(translateY(0));
            transition: transform .3s ease-in-out .4s;
        }

    }

    &.show {
        @include transition(opacity, .3s);
        height: 100%;
        opacity: 1;
    }

   
}

@media screen and (min-width: 768px) {
    .modal {
        background: rgba(0,0,0,0.8);
        &__content {
            max-width: 40vmin;
            max-height: 80vmin;
        }
    }    
}