
.modal {
    @include flex-center(column);
    @include position-top-left(fixed);
    transition: opacity .3s ease-in-out .3s, height .1s linear .6s;
    background: rgba(0,0,0,0.5);    
        
    opacity: 0;
    z-index: 2; 
    width: 100%;
    height: 0;
    overflow: auto;
    
    &.show {
        @include transition(opacity, .3s);
        height: 100%;
        opacity: 1;
    }
    
    &__content {
        /*@include transform(translateY(-100vh));*/
        @include transform(scale(0) translateY(-100vh));
        @include transition(all, .3s);
        background-color: $white;
        width: 100%;
        height: 100%;
        
        .close {
            position: fixed;
            bottom: 2rem;
            right: 2rem;
            z-index: 20;
            border: 0;
            background: transparent; 
            color: $section-text;
            font-size: 3rem;
            height: 3rem;
            
        }
        
        .close:hover {
            cursor: pointer;
        }
        
        &.open {
            @include transform(scale(1) translateY(0));
            transition: transform .6s ease-in-out .4s;
        }
    }
}

@media screen and (min-width: 768px) {
    .modal {
        background: rgba(0,0,0,0.5);
        &__content {
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
            max-width: 60vmin;
            max-height: 80vmin;
            border-radius: 3px;
            overflow: hidden;
        }
    }    
}