.page-banner {
    
    @include position-top-left(absolute);
    width: 100%;
    height: 50%;
    z-index: 0;
    background: url("../assets/hero-drawing-deepblue.png") no-repeat left bottom;
    background-size: cover;

    &__content {
        @include flex-center(column);
        @include position-top-left(absolute);
        height: 100%;
        width: 100%;
        background: transparent;
            
    }
}