.projects {
    background: #307082;
    width: 100%;
    height: 100vh;

    &__container {
        background: $white;
        position: relative;
        top: 50%;

        &--item {
            border-bottom: 1px solid $section-border;
            padding: 8rem 1.5rem;
            
            section h2 {
                font-size: 9vw;
                text-align: center;
                color: #B03059;
                margin-bottom: 2rem;
                font-weight: 400;
                letter-spacing: 2px;
            }
            
            section p {
                color: #484641; 
                margin-bottom: 4rem;
                
            }

            img {
                display: block;
                width: 100%;
                height: auto;
               
            }

            .more-info{
                width: 80%;
                padding: 1.4rem 0;
                font-size: 1.5rem;
                letter-spacing: 1px;
                background-color: transparent;
                border: 2px solid #B03059;
                border-radius: 3px;
                color: #B03059;
                margin: 4rem auto 0 auto;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .projects {
        &__container {
            top: 100%;
            &--item {
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 16rem 1.5rem;
                
                section {
                    height: auto;
                }
                section:nth-child(1) {
                    margin-right: 20rem;
                    max-width: 60rem;

                }
                section h2 {
                    font-size: 3vmin;
                }
                section p {
                    padding: 0 5rem;
                    font-size: 2rem;
                    font-weight: 500;
                }
                .more-info {
                    margin: 0 auto;
                }
                .more-info:hover {
                    background-color:#B03059;
                    color: $white; 
                }
            }

        }
    }
}


  