@import "./config";
@import "./menu";
@import "./home";
@import "./page-banner";
@import "./about";
@import "./projects";
@import "./contact";
@import "./animated-router";
@import "./modal";
@import "./image-slider";
@import "./tabbed-panel";

html, body {
    width: 100%;
    height: 100%;
}
body {
    overflow-x: hidden;
}
html {
    font-size: 10px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    background: $background-color-light;
    display: flex;
    flex-direction: column;
    goverflow-x: hidden;
}

.site-header {
    @include position-top-left(fixed);
    z-index: 2;
}

main.full-height {
    height: 100vh;
}

.page-heading {
    color: $primary-accent-color;
    font-weight: 200;
    font-size: 9vw;
    letter-spacing: 7px;
    margin-bottom: 2.5rem;
    text-align: center;
}
.page-intro {
    color: $white;
    font-weight: 100;
    font-size: 1.7rem;
    line-height: 1.5;
    width: 80%;
    text-align: center;
}
.page-text {
    color: $white;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}
.btn-sm {
    display: block;
}
.btn-lg {
    display: none;
}

@media screen and (min-width: 767px) {
    .page-heading {
        font-size: 6vmin;
    }
    .page-intro {
        width: 60rem;
        font-size: 2rem;
        line-height: 1.8;
    }
    
    .btn-sm {
        display: none;
    }
    .btn-lg {
        display: block;
    }
    .btn-lg:hover {
        cursor: pointer;
    }
}