@import "./config";
@import "./menu";
@import "./home";
@import "./about";
@import "./horizontal-page-toggler";
@import "./page-banner";
@import "./animated-router";
@import "./footer";
html, body {height: 100%;}
body {
    height: 100%;
    background-color: $white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#root {
    min-height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

header {
    @include position-top-left(fixed);
    z-index: 2;
    width: 100vw;
    padding: 1.5rem;
}

main.full-height {
    height: 100vh;
}

.page-heading {
    color: #225a9b;
    font-weight: 400;
    font-size: 9vw;
    letter-spacing: 7px;
    margin-bottom: 2.5rem;
    text-align: center;
}

.page-text {
    color: #484641;
    font-weight: $medium;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}

