@import "./config";
@import "./menu";
@import "./home";
@import "./about";
@import "./projects";
@import "./contact";
@import "./animated-router";

html, body {
    height: 100%;
    overflow-x: hidden;
}

html {
    font-size: 10px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
    min-height: 100%;
    background: #307082;
    display: flex;
    flex-direction: column;
}

header {
    @include position-top-left(fixed);
    z-index: 2;
}

main.full-height {
    height: 100vh;
}

.page-heading {
    color: #FAE81B;
    font-weight: 200;
    font-size: 9vw;
    letter-spacing: 7px;
    margin-bottom: 2.5rem;
    text-align: center;
}

.page-text {
    color: $white;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.8;
    text-align: center;
}

@media screen and (min-width: 767px) {
    
}